{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center"> </h3>
  <div class="form-group">
      <label for="email"> Email Address </label>
      <input 
        type="text" 
        id="email" 
        name="email" 
        class="form-control" 
        placeholder="Enter Email"
      />
      <label for="email"> Username </label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        class="form-control" 
        placeholder="Enter Username"
      />
      <label for="team">Select your team:</label>
      <select name="team" id="team">
        <option value="Crazy Canucks">Crazy Canucks</option>
        <option value="Loonie Ladies">Loonie Ladies</option>
        <option value="Busy Beavers">Busy Beavers</option>
      </select>
      </br>
      <label for="password1"> Password </label>
      <input 
        type="password" 
        id="password1" 
        name="password1" 
        class="form-control" 
        placeholder="Enter Password"
      />
      <label for="password2"> Confirm Password </label>
      <input 
        type="password" 
        id="password2" 
        name="password2" 
        class="form-control" 
        placeholder="Confirm Password"
      />
      <label for="=teamcaptain"> Are you a team captain? </label>
      <input 
        type="checkbox" 
        id="teamcaptain" 
        name="teamcaptain" 
      />
      <br/>
      <br/>
      <div align="center">
      <button class="btn btn-primary" type="submit"> Sign Up </button>
      </div>

    

  </div>

</form> 
{% endblock %}