{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="teams-page"></div>
  <div class="header">
     <h1> Team Standings </h1>
  </div>


  <table id="teams">
    <tbody>
      <tr>
        <th> Ranking </th>
        <th> Team Name</th>
        <th> KM Travelled</th>
        <th> Percent Achieved </th>
      </tr>
      {% for group in teams %}
      <tr>
    
        <td> {{group.id}}</td>
        <td> 
          {{group.name}}
        </td>
        <td>
          {{group.activities|sum(attribute="amount")| round|int }} KM
        </td>
        <td> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{((group.activities|sum(attribute='amount') / 7560) * 100) | round|int}}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{((group.activities|sum(attribute="amount")| round|int /7560)*100) | round|int}}%</div>
          </div>
        </td>
    

      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}